@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

/* Farven før var (#020202) */
:root {
  --background: #18181b;
  /* --background: #020202; */

  scroll-behavior: smooth;
}

html { 
  overflow-x: hidden;
}
body {
  background-color: var(--background);
  overflow-x: hidden;
  
}
.link {
  position: relative;
}

.link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: white;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.3s ease-in-out;
}

.link:hover::after {
  width: 100%;
}

body {
    overflow-x: hidden;
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  opacity: 0.5
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Fjerner den default hover farve på Joy accordion  */
.css-1twr7re-JoyAccordionSummary-button:not(.Mui-selected, [aria-selected="true"]):hover {
  background-color: transparent !important;
}
